* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsla(200, 50%, 50%, 1);
}
#base {
  position: absolute ;
  bottom: 0;
  height: 40vh;
  width: 100vw;
  background-color: hsla(0, 30%, 30%, 1);
  box-shadow: 0 20vh 30vh hsla(0, 30%, 20%, 1) inset;
}
#notify {
  display: flex;
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 100%, 1);
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  text-align: center;
}

/* When device is in PORTRAIT */
@media (orientation: landscape) {
  #notify {
    
    display: none;
  }
}