* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  width: 100%;
  aspect-ratio: 1/1;
  background: hsl(0, 0%, 25%);
  border: 50px solid #000;
}
#hider {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #fff;
  color: #000;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (orientation: landscape) {
  #hider {
    display: flex;
  }
}
#controls {
  margin: 80px 0;
}
#controls button {
  height: 200px;
  width: 200px;
  margin: 50px;
  font-size: 70px;
  background: hsl(0, 0%, 75%);
  border: 15px solid #000;
  border-radius: 40%;
}
#controls button:active {
  background: hsl(0, 0%, 25%);
}
#above,#below {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#below {
  justify-content: space-evenly;
}
#up {
  transform: rotate(90deg);
}
#down {
  transform: rotate(-90deg);
}