* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(200, 50%, 50%, 1);
}
#base {
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100vw;
  background-color: hsla(0, 30%, 30%, 1);
  box-shadow: 0 20vh 30vh hsla(0, 30%, 20%, 1) inset;
}
#notify {
  display: none;
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 100%, 1);
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  text-align: center;
}
@media (orientation: landscape) {
  #notify {
    display: none;
  }
}
@media (orientation: portrait) {
  #notify {
    display: none;
  }
}
#car {
  position: absolute;
  top: 35vh;
  left: 0;
  height: 30vh;
  width: 30vh;
  background: black;
}
.control {
  position: absolute;
  top: 15vh;
  height: 15vh;
  width: 15vh;
  background: red;
  border: 5px solid black;
  border-radius: 50%;
  font-size: 5vh;
  font-weight: bold;
}
.left {
  position: absolute;
  left: 5vh;
}
.right {
  position: absolute;
  right: 5vh;
}
#border {
  position: fixed;
  top: 0;
  border: 2vh solid black;
  width: 100vw;
  height: 100vh;
}