:root {
  --unit: 12vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#game {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#canvas {
  position: absolute;
  top: 0;
  width: 100vw;
  aspect-ratio: 1/1;
  background: hsl(0, 0%, 25%);
  border: 2vw solid #000;
}
#checkbox {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--unit);
  aspect-ratio: 1/1;
  background: hsl(0, 0%, 25%);
  color: #000;
  box-shadow:
  calc(var(--unit)*1) 
  calc(var(--unit)*0),
  calc(var(--unit)*3) 
  calc(var(--unit)*0),
  calc(var(--unit)*5) 
  calc(var(--unit)*0),
  calc(var(--unit)*7) 
  calc(var(--unit)*0),
  calc(var(--unit)*0) 
  calc(var(--unit)*1),
  calc(var(--unit)*2)
  calc(var(--unit)*1),
  calc(var(--unit)*4)
  calc(var(--unit)*1),
  calc(var(--unit)*6)
  calc(var(--unit)*1),
  calc(var(--unit)*1)
  calc(var(--unit)*2),
  calc(var(--unit)*3)
  calc(var(--unit)*2),
  calc(var(--unit)*5)
  calc(var(--unit)*2),
  calc(var(--unit)*7)
  calc(var(--unit)*2),
  calc(var(--unit)*0)
  calc(var(--unit)*3),
  calc(var(--unit)*2)
  calc(var(--unit)*3),
  calc(var(--unit)*4)
  calc(var(--unit)*3),
  calc(var(--unit)*6)
  calc(var(--unit)*3),
  calc(var(--unit)*1)
  calc(var(--unit)*4),
  calc(var(--unit)*3)
  calc(var(--unit)*4),
  calc(var(--unit)*5)
  calc(var(--unit)*4),
  calc(var(--unit)*7)
  calc(var(--unit)*4),
  calc(var(--unit)*0)
  calc(var(--unit)*5),
  calc(var(--unit)*2)
  calc(var(--unit)*5),
  calc(var(--unit)*4)
  calc(var(--unit)*5),
  calc(var(--unit)*6)
  calc(var(--unit)*5),
  calc(var(--unit)*1)
  calc(var(--unit)*6),
  calc(var(--unit)*3)
  calc(var(--unit)*6),
  calc(var(--unit)*5)
  calc(var(--unit)*6),
  calc(var(--unit)*7)
  calc(var(--unit)*6),
  calc(var(--unit)*0)
  calc(var(--unit)*7),
  calc(var(--unit)*2)
  calc(var(--unit)*7),
  calc(var(--unit)*4)
  calc(var(--unit)*7),
  calc(var(--unit)*6)
  calc(var(--unit)*7);
}
#player {
  position: absolute;
  width: var(--unit);
  aspect-ratio: 1/1;
  background: yellow;
  border: 5px solid;
  border-radius: 50%;
  left: 0;
  top: 0;
}
#hider {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #fff;
  color: #000;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (orientation: landscape) {
  #hider {
    display: flex;
  }
}
#controls {
  position: absolute;
  top: calc(100vw + 10vw);
}
#controls button {
  height: 60px;
  width: 60px;
  margin: 10px;
  font-size: 30px;
  background: hsl(0, 0%, 75%);
  border: 1vw solid #000;
  border-radius: 50%;
}
#controls button:active {
  background: hsl(0, 0%, 25%);
}
#above,#below {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#below {
  justify-content: space-evenly;
}
#up {
  transform: rotate(90deg);
}
#down {
  transform: rotate(-90deg);
}