body {
    background-color: hsla(213, 100%, 75%, 1);
}
#man {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#head {
    position: absolute;
    height: 50px;
    width: 50px;
    align-self: center;
    background: red;
}